<section class="twimp-list">
<mytweempus-twimp-card [twimp]="twimps[0]"></mytweempus-twimp-card>
<mytweempus-twimp-card [twimp]="twimps[1]"></mytweempus-twimp-card>
<mytweempus-twimp-card [twimp]="twimps[2]"></mytweempus-twimp-card>
<mytweempus-twimp-card [twimp]="twimps[3]"></mytweempus-twimp-card>
</section>